@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}

*{
  white-space: nowrap;
  text-overflow: ellipsis;
}

.max-h-50-vh {
  max-height: 50vh;
}